:cachedir: '{{ __puppet5_server_r10k_cachedir }}'
# git repositories containing environments
:sources:
  :base:
    remote: '{{ __puppet5_server_r10k_remote }}'
    basedir: '{{ __puppet5_server_r10k_basedir }}'
# purge non-existing environments found here
:purgedirs:
  - '{{ __puppet5_server_r10k_purgedirs }}'
